.card{
    display: block;
    margin-top: 20px;
    margin-left: 2%;
    width: 96%;
    height: 150px;
    border-radius: 25px;
    background-color: tomato;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.15);
}
.card-yellow{
    background-color: #FDBB63;
}
.card-orange{
    background-color: #FC8862;
}
.card-green{
    background-color: #8bc34a;
}
.card-green2{
    background-color: #388e3c;
}
.card-header{
    width: 90%;
    padding-top: 0px;
    margin-left: 5%;
    text-align: right;
}
.card-content{
    width:100%;
    color:#fff;
    flex:auto;
    text-align: center;
    font-size: 16px;
}