.deleted-card{
    margin-top: 20px;
    margin-left: 2%;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: #d21836;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.15);
    overflow: hidden;
}
.deleted-card-header{
    width: 100%;
    text-align: right;
    height: 50px;
}
.deleted-card-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    color:#fff;
    flex:auto;
    text-align: center;
    font-size: 16px;
    height: 200px;
}