.icon-row{
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 50px;
    color: #52616b;
}
.icon-row p{
    width:100px;
    text-align: center;
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bold{
    color:#1e2022;
    font-weight: bold;
}