.logo-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo-container{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.logo-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}